body {
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;;
    color: #1D1D1B;
  }
  
  #window {
    max-width: 80%;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    background-color: #7D88EB;
    box-shadow: 10px 10px #3E4584;
  }
  
  .header {
    border-bottom: 3px solid #3E4584;
    padding-top: 15px;
    padding-bottom: 15px ;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 30px;
  }

  .dot {
    height: 15px;
    width: 15px;
    border: 3px solid #3E4584;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  
 .signsBox {
    margin-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
 }

  #toggle {
    color:  #3E4584;

  }

  #signs {
    margin-top: 3%;
    cursor: pointer;
}

  .content {
    padding: 30px;
    display: flex;
    max-width: 100%;
  }

  #defaultCanvas0 {
    border-radius: 10px;
    border: 3px solid #3E4584;
    box-shadow: none !important;
    padding: 0;
  }

  #text {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    font-size: 15px;
  }

  .description {
    margin-bottom: 20px;
    padding: 10%;
    text-align: left;
  }
  .vid {
      display: none;
      position: absolute;
      right: 30%;
      top: 55%;
  }

  .winPop {
    border: 3px solid #3E4584;
    border-radius: 5px;
  }

#oi, #duvida, #entendi  {
    background: #919CFC;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}

  #oi:hover + #sinalOi, #duvida:hover + #sinalDuvida, #entendi:hover + #sinalEntendi  {
    display: block;
  }

  #footer {
margin-top: 10%  }
  
  .label {
    color:#919CFC;
}
